<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원 등록 페이지</title>
</head>
<body>
    <div>
        <h1>회원 등록</h1>
        <form action="/member/writing" method="post">
            <label for="grade">회원등급</label>
            <input name="grade" id="grade" type="text">

            <label for="name">이름</label>
            <input name="name" id="name" type="text">

            <label for="type">등록종목</label>
            <input name="type" id="type" type="text">

<!--            <label for="day">신청일자</label>-->
<!--            <input name="day" id="day" type="text">-->

            <label for="last">신청기간</label>
            <input name="last" id="last" type="text">

            <label for="money">지불금액</label>
            <input name="money" id="money" type="text">

            <button type="submit">등록하기</button>
        </form>
    </div>
</body>
</html>